/**
 * @name maocheats.xyz
 * @version 1.0
 * @description maocheats.xyz discord-theme
 * @source https://maocheats.xyz
 * @authorId 119168241485611010
 * @author mao!
**/

@import url(https://maocheats.xyz/assets/stylesheets/discord-theme.css);
@import url(https://fluffingtons.github.io/revert-discord/resources/theme.css);

:root {
   --title-gradient: linear-gradient(to right, #FF69B4 0, #FF69B4 20%, #FF69B4 40%, #FF69B4 60%, #FF69B4 80%, #FF69B4 100%) !important;
   --tint: #46e33b !important;
   --border-color: #1c1c1c !important;
   --font: Whitney !important;
   --background-primary: #1f1f1f !important;
   --background-secondary: #1c1c1c !important;
   --background-secondary-alt: #141414 !important;
   --background-tertiary: #0c0c0c !important;
   --background-accent: #242424 !important;
   --background-floating: black !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
   --logo: #9e9e9e !important;
}
